@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
body {
  color: #555;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
#header{
  background-color: white;
  height: 100px;
  line-height: 100px;
}

#header a{
  color: #CC8C64;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  vertical-align: top;
}
#header a:hover{
  color: #6E3D38;
}
/* sticky header */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #content {
  padding-top: 102px;
}

#header-title{
  display: block;
  float: left;
  font-size: 30px;
  font-weight: bold;
}
#header-nav{
  display: block;
  float: right;
}
#header-nav li{
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0;
  background-color: #ECEDEE;
  border-radius: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

#content{
	display: block;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 	1000px;
}

#login{
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	color: black;
}

#input-string{
	text-align: center;
	margin: auto;
	font-size: 24px;
	background-color: white;
}

input[type=text]{
	height: 58px;
	width: 401px;
	margin-bottom: 9px;
	border: 4px solid #3A3A3A;
	border-radius: 23px;
	outline: none;
	padding: 20px;
	box-sizing: border-box;
}

input[type=number]{
	height: 58px;
	width: 401px;
	margin-bottom: 9px;
	border: 4px solid #3A3A3A;
	border-radius: 23px;
	outline: none;
	padding: 20px;
	box-sizing: border-box;
}

input[type=email]{
	height: 58px;
	width: 401px;
	margin-bottom: 9px;
	border: 4px solid #3A3A3A;
	border-radius: 23px;
	outline: none;
	padding: 20px;
	box-sizing: border-box;
}

input[type=password]{
	height: 58px;
	width: 401px;
	margin-top: 9px;
	border: 4px solid #3A3A3A;
	border-radius: 23px;
	outline: none;
	padding: 20px;
	box-sizing: border-box;
}

input[type="image"] {
    margin-top: 10px;
    width: 69px;
    height: 69px;
    border: 0;
}

::placeholder{
	color: #3A3A3A;
	font-size: 24px;
	text-align: center;
	padding-top: 100px;
}
#content img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 152px;
    height: 152px;
}

#footer{
	width: 1000px;
	height: 200px;
	background-color: gray;
}

#footer{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  background-color: white;
  padding: 25px 0;
  vertical-align: top;
}

#help{
	margin-top: 200px;
  float: left;
  text-decoration: none;
}
#help i{
  float: left;
  color: #3A3A3A;
  position: absolute;
  vertical-align: top;
}
/* #help p{
  float: left;
  padding: 5px 5px 5px 5px;
  position: absolute;
  transition: transform 0.8s;
  opacity: 0;
  left: 230px;
  bottom: auto;
  transition: background-color 1s;
  color: white;
} */
/* #help p:hover{
  opacity: 1;
  background-color: #3A3A3A;
  border-radius: 20px;
  transform: translate(75px, -5px);
} */
#help:hover{
  opacity: 1;
}
#go{
	margin-top: 200px;
	float: right;
}
#go button{
  border-radius: 50%;
  width:26px;
  height:26px;
  text-decoration: none;
  position: absolute;
  float: right;
  border: none;

}

#go2{
  margin-top: 100px;
  float: right;

}
#go2 button{
  border-radius: 50%;
  width:26px;
  height:26px;
  text-decoration: none;
  position: absolute;
  float: right;
  border: none;
}

#go button{
  border-radius: 100%;
  border: none;
  display: inline-block;
  text-decoration: none;
  /* position: relative; */
  /* width: 40px;
  height: 28px; */
  margin: 0 2px;
  padding-top: 12px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  background-color: transparent;
}

#go button.login_box:before {
  color: #fff;
  font-size: 20px;
}
button span {
  background: #fff;
  color: #222;
  font-size: 19px;
  position:  absolute;
  bottom: 0;
  left: -40px;
  right: -80px;
  
  padding: 5px 5px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  font-family: "Poppins", sans-serif;
}
button span:before {
  content: '';
/*   width: 0;
  height: 0; */
  border-left: 10px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

button:hover span {
  bottom: 30px;
  /* right: 130px; */
  visibility: visible;
  opacity: 1;
}
button.login_box:hover {
  background-color:transparent; 
  color: #6E3D38;
  
}
button.login_box span {
  color: white;
  background-color: #6E3D38;
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
  margin-left: 5px;
}

#help button{
  border-radius: 50%;
  width:26px;
  height:26px;
  text-decoration: none;
  position: absolute;
  float: right;

  border-radius: 100%;
  border: none;
  display: inline-block;
  text-decoration: none;
  /* position: relative; */
  /* width: 40px;
  height: 28px; */
  margin: 0 2px;
  padding-top: 12px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  background-color: transparent;
}

#help button.forgot:hover {
  background-color:transparent; 
  color: #6E3D38;
  
}
#help button.forgot span {
  color: white;
  background-color: #6E3D38;
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
  margin-left: 5px;
  left: -55px;
  right: -105px;
}
#help i:hover{
  color: #6E3D38;
}