@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
body {
  color: #555;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
#header{
  background-color: white;
  height: 100px;
  line-height: 100px; /*make the line "o giua"*/
}

#header a{
  color: #CC8C64;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  vertical-align: top;
}
#header a:hover{
  color: #6E3D38;
}
#header-title{
  display: block;
  float: left;
  font-size: 30px;
  font-weight: bold;
}
#header-nav{
  display: block;
  float: right;
}
#header-nav li{
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0;
  background-color: #ECEDEE;
  border-radius: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}
#footer{
  background-color: #2f2f2f;
  padding: 25px 0;
}
.column{
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
#footer h4{
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p{
  color: white;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: #CC8C64;
}
